<%- include('../partials/header'); %>
<div class="row" style="margin-top: 2rem;">
  <%hackers.forEach((h)=>{%>
    <div class="col-sm-4 col-md-3" >
      <div class="card" style="margin-top:2rem;">
          <div class="card-header">
            <%=h.name%>
          </div>
          <div class="card-body">
            <h5 class="card-title">Challenges Solved :&nbsp;&nbsp;<%=h.challangesSolved%></h5>
            <p class="card-text"><b>Expertise Level:&nbsp;&nbsp; </b><%=h.expertiseLevel%>  </p>
            <a href="/profile/<%=h.hid%>" class="btn btn-primary">Check Profile</a>
          </div>
      </div>
  </div>
  <%})%>
    

   
    
</div>


<%- include('../partials/footer'); %>